{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <div class="col-10">
   <h3 class="text-white my-5">About Page</h3>

    <h1 class="display-4 font-weight-bold">This is a blog title</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.This is a modified jumbotron that occupies the entire horizontal space of its parent.
    This is a modified jumbotron that occupies the entire horizontal space of its parent.This is a modified jumbotron that occupies the entire horizontal space of its parent.This is a modified jumbotron that occupies the entire horizontal space of its parent.This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
{% endblock content%}