{% extends 'blog/base.html' %}
{% load static %}
{% block msg %}
    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade shadow" {% endif %}>
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
            <span aria-hidden="true">&times</span>
            </div>
        {% endfor %}
    {% endif %}
    {% endblock msg%}

    {% block side %}
        <div class="col-sm-2 text-white my-2 text-center">
        <h4 class="my-5">Profile</h4>

        {% for group in groups %}
            <p>{{ group.name }}</p>
            <h5>{{ full_name }}</h5>
        {% endfor %}
        </div>
    {% endblock side %}
    {% block content %}
    <div class="col-10">
   <h3 class="text-white my-5">DashBoard Page</h3>
    <a href="{% url 'addpost' %}" class="btn btn-success">Add Post</a>
    <h4 class="text-center alert alert-info mt-3"> Show Post Information</h4>
    {% if posts %}
        <table class="table table-hover bg-white">
        <tbody>
        <thead>
        <tr class="text-center">
            <th scope="col" style="width:2%">ID</th>
            <th scope="col" style="width:28%">Title</th>
            <th scope="col" style="width: 55%">Description</th>
            <th scope="col" style="width: 15%">Action</th>

        </tr>
        </thead>
        </tbody>
        {% for post in posts %}
            <tr>
            <td scope="row">{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.description }}</td>
            <td class="text-center">
            <a href="{% url 'updatepost' post.id%}" class="btn btn-warning btn-sm">Edit</a>
                {% if perms.blog.delete_post %}
            <form action="{% url 'deletepost' post.id %}" method="post" class="d-inline">
           {% csrf_token %}
           <input class="btn btn-danger btn-sm " value="delete" type="submit">

            </form>
                {% endif %}
            </td>
            </tr>
        {% endfor %}
        </table>
        {% else %}
        <h4 class="text-center  alert alert-warning" >No Records</h4>
    {% endif %}



</div>

{% endblock content%}